doctype html
head
  meta(property='og:type' content='article')
  meta(property='og:title' content= songTitle)
  meta(property='og:description' content= songDescription)
  meta(property='og:image' content= songThumbnail)
  meta(property='al:android:url' content='muzic://detail?id=' + id + '&title=' + title + '&channel=' + channel + '&linkThumbnail=' + linkThumbnail + '&duration=' + duration)
  meta(property='al:android:package' content='com.vng.muzic')
  meta(property='al:android:app_name' content='Muzic')
h1 Muzic - Music every where
