doctype html
head
  meta(property='og:url' content='muzic.vng.com.vn')
  meta(property='og:type' content='article')
  meta(property='og:title' content= songTitle)
  meta(property='og:description' content= songDescription)
  meta(property='og:image' content= songThumbnail)
h1 Muzic - Music every where
